# Data Types

### Variable Names:

### Rules:
   * no number in front
   * no space
   * no symboles 
   * no word with special meaning in python : str list

Python uses **Dynamic Typing**  but variable in other languages are **Statically-Typed**

### Basic Data Types

* Integers
* Floating point
* Strings
* Lists
* Dictionaries : unordered key,value pairs : `{"key1": "value1","key2": "value2","key3": "value3"}`
* Tuples : ordered immutable sequence of objects : `(71,'sina',20.34)`
* Sets : unordered collection of unique objects: `{"a","b"}`
* Booleans

### Float

In [3]:
my_float = 9.75

In [4]:
type(my_float)

float

### Integers

In [5]:
my_int = 200

In [6]:
# Power
my_int ** 2

40000

In [7]:
# Remainder
my_int % 3

2

In [8]:
# floor division
my_int // 2

100

**why doesn't `0.1 + 0.2 - 0.3` equal `0.0`**

In [63]:
0.1 + 0.2 - 0.3 == 0.0

False

**check out :**'https://docs.python.org/2/tutorial/floatingpoint.html'

### Boolean

In [11]:
condition = True

In [12]:
condition = False

### String

ordered sequences: indexing and slicing 
`string[start:stop:step]`
Note: strings are **immutable**! Most python objects (`booleans`, `integers`, `floats`, `strings`, and `tuples`) are immutable. This means that after you create the object and assign some value to it, you canâ€™t modify that value.

In [13]:
my_string="This is my practice to learn python"

In [18]:
my_string[:20]

'This is my practice '

In [20]:
my_string[20:]

'to learn python'

In [22]:
my_string[:]

'This is my practice to learn python'

In [23]:
my_string[::3]

'Tssyrteoenyo'

In [24]:
my_string[1::3]

'h   ai  a tn'

In [26]:
my_string[2::3]

'iimpcctlrph'

In [28]:
my_string[-6:]

'python'

In [60]:
my_string[-1::-1]

'nohtyp nrael ot ecitcarp ym si sihT'

In [62]:
#strings are immutable!
my_string[0] = "S"

TypeError: 'str' object does not support item assignment

### List

In [32]:
my_list = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [33]:
my_list[:5]

[-5, -4, -3, -2, -1]

In [34]:
my_list[5:]

[0, 1, 2, 3, 4, 5]

In [35]:
my_list[-1::-1]

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

In [39]:
my_list[0]=-100
my_list

[-100, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

### Dictionary

In [41]:
my_dict = {"A": 1, "B": 2, "C": 3}
my_dict

{'A': 1, 'B': 2, 'C': 3}

In [42]:
my_dict["B"]

2

### Tuples

In [53]:
my_tuple = ('a', 'b', 'c')

In [54]:
my_tuple[2]

'c'

In [55]:
my_tuple[2] = 'd'

TypeError: 'tuple' object does not support item assignment

**TypeError: 'tuple' object does not support item assignment**

### Set

In [58]:
my_set = {1,1,2,3,5,8,13,21}
my_set

{1, 2, 3, 5, 8, 13, 21}

In [73]:
my_set.add(34)
my_set

{1, 2, 3, 5, 8, 13, 21, 34}

### booleans integers floats strings  and tuples are immutable

Immutable objects don't have the same id, and as a mater of fact this is not true for any type of objects that you define separately. Generally speaking, every time you define an object in Python, you'll create a new object with a new identity. However, for the sake of optimization (mostly) there are some exceptions for small integers (between `-5` and `256`) and interned strings, with a special length --usually less than `20 characters`--* which are singletons and have the same id (actually one object with multiple pointers)

In [74]:
a = 200
b = 200
print(id(a))
print(id(b))

94633233434144
94633233434144

In [70]:
a = 400
b = 400
print(id(a))
print(id(b))

140322221771856
140322221770896

In [71]:
a = "sina"
b = "sina"
print(id(a))
print(id(b))

140322221219440
140322221219440

In [76]:
a = "booleans integers floats strings  and tuples are immutable"
b = "booleans integers floats strings  and tuples are immutable"
print(id(a))
print(id(b))

140322221269488
140322221269712

* https://www.educative.io/edpresso/why-are-strings-in-python-immutable
* https://stackoverflow.com/questions/38189660/two-variables-in-python-have-same-id-but-not-lists-or-tuples